<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dota2CustomRealms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dota2CustomRealms.Properties.Settings>
            <setting name="Dota2Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Dota2ServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HostSetupComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientSetupComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConsoleKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5500</value>
            </setting>
            <setting name="VersionStatus" serializeAs="String">
                <value>UNKNOWN</value>
            </setting>
            <setting name="MyVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NickName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeepNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeepName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlashName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dedicated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrotaStatus" serializeAs="String">
                <value>UNKNOWN</value>
            </setting>
        </Dota2CustomRealms.Properties.Settings>
    </userSettings>
</configuration>